{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>This is home page</h1>
                can refresh the page

                Tset
            </div>
        </div>
    </div>
{{end}}